.Layout {
    display: flex;
    flex-direction: row;

    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    @media screen and (max-width: 991px) {
        main {
            flex-direction: column;
        }
    }
  
}